
.background {
    -fx-background-color: #202020;
}


/* START WINDOW */

.startTitle {
    -fx-font-family: "Arial Rounded MT Bold";
    -fx-font-size: 64;
    -fx-text-fill: white;
}

.playLabel {
    -fx-font-family: "Arial Rounded MT Bold";
    -fx-font-size: 32;
    -fx-text-fill: rgba(255, 255, 255, .6);
}

.snakeImage {
    -fx-image: url("../pictures/snakeStartPic.png");
    -fx-opacity: .8;
}

.playLabel:hover {
    -fx-text-fill: rgba(255, 255, 255, .9);
}






/* GAME WINDOW */

.cellRegular {
    -fx-fill: transparent;
}

.cellWall {
    -fx-fill: transparent;
}

.cellSnake {
    -fx-fill: white;
}

.cellApple {
    -fx-fill: #08FCFC;
}







/* GAME OVER WINDOW */

.gameOverTitle {
    -fx-font-family: "Arial Rounded MT Bold";
    -fx-font-size: 64;
    -fx-text-fill: white;
}

.backLabel {
    -fx-opacity: .7;
}

.backLabel:hover {
    -fx-opacity: 1;
}

.collectibleRec {
    -fx-fill: #08FCFC;
}

.collectibleLabel {
    -fx-font-family: "Arial Rounded MT Bold";
    -fx-font-size: 32;
    -fx-text-fill: rgba(255, 255, 255, .8);
}